<section class="h-16"></section>

<div class="flex flex-row gap-2 px-5">
  <div class="basis-1/5 flex flex-col"></div>
  <div class="basis-4/5 flex flex-col">
    <app-search-field  (newItemEvent)="searchTrips($event)"></app-search-field>
  </div>
</div>
<div class="flex flex-row gap-2 px-5">
  <div class="basis-1/5 py-2 flex flex-col">
    <mat-accordion class="example-headers-align sticky top-16 z-50 " multi>
      <mat-expansion-panel class="bg-white/0 shadow-none border m-1">
        <mat-expansion-panel-header class="h-9">
          <mat-panel-title class="text-emerald-700"> Duration</mat-panel-title>
        </mat-expansion-panel-header>

        <span class="example-list-section">
          <ul>
            <li class=" " *ngFor="let i of [1, 2, 3, 4]">
              <mat-checkbox class="text-emerald-700"> 2 - 4 Hours </mat-checkbox>
            </li>
          </ul>
        </span>
      </mat-expansion-panel>

      <mat-expansion-panel class="bg-white/0 shadow-none border m-1">
        <mat-expansion-panel-header class="h-9">
          <mat-panel-title class="text-emerald-700"> Rating</mat-panel-title>
        </mat-expansion-panel-header>
        <span class="example-list-section">
          <ul>
            <li class=" " *ngFor="let i of [1, 2, 3, 4, 5]" (click)="getTripsByRating(i)">
              <mat-checkbox class="text-emerald-700">
                {{ i }}
              </mat-checkbox>
            </li>
          </ul>
        </span>
      </mat-expansion-panel>

      <mat-expansion-panel class="bg-white/0 shadow-none border m-1">
        <mat-expansion-panel-header class="h-9">
          <mat-panel-title class="text-emerald-700"> Difficulty</mat-panel-title>
        </mat-expansion-panel-header>
        <span class="example-list-section">
          <ul>
            <li class=" " *ngFor="let i of [0, 1, 2]" (click)="getTripsByDifficulty(i)">
              <mat-checkbox class="text-emerald-700">{{ getEnumDiff(i) }} </mat-checkbox>
            </li>
          </ul>
        </span>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
  <div class="basis-4/5 flex flex-col gap-2 bg-slate-100 py-2 pt-10" *ngIf="loading">
    <app-wish-list-trip-item-loading
      *ngFor="let trip of [1, 2, 3, 4]"
    ></app-wish-list-trip-item-loading>
  </div>
  <div class="basis-4/5 flex flex-col gap-2 bg-slate-100 py-2 pt-10" *ngIf="!loading">
    <app-wish-list-trip-item *ngFor="let trip of items" [trip]="trip"></app-wish-list-trip-item>

    <div class="flex text-center">
      <button
        mat-flat-button
        class="bg-gradient-to-r from-green-400 to-blue-500 hover:from-pink-500 hover:to-yellow-500 rounded-full text-white mx-auto"
        style="border-radius: 20px"
        (click)="loadMoreTrips()"
      >
        Load More Trips
      </button>
    </div>
  </div>
</div>
