<abp-loader-bar></abp-loader-bar>
<!-- <abp-dynamic-layout></abp-dynamic-layout> -->

<!-- <div class="h-16 sticky top-0 z-50 bg-blue-900 shadow-md w-screen px-40 ">ddd</div>
<div class="absolute top-0 z-0 pt-16">
    <div class="h-screen relative bg-gray-100 shadow-lg w-screen px-40 ">ddd</div>
    <div class="h-screen relative bg-green-500 shadow-lg w-screen px-40 ">ddd</div>
</div> -->
<div class="flex flex-col  ">
        <header (scroll)="onWindowScroll()" class=" tester flex flex-row  fixed w-screen top-0 z-50 transition-all duration-200 ease-linear
        text-gray-800 text-center px-20 h-16">
                <span class="my-auto"><img class="inline-block h-8 cursor-pointer" src="../assets/logo.png" alt=""
                                [routerLink]="''" /></span><span class="my-auto m-2 flex-1">
                        <span class="cursor-pointer m-1 mx-3 font-semibold hover:text-myPrimaryColor"
                                [routerLink]="'/wishlist'" [routerLinkActive]="'text-myPrimaryColor'"><i
                                        class="fa-regular fa-heart text-xl p-1"></i>Wishlist</span>
                        <span class="cursor-pointer m-1 mx-3 font-semibold hover:text-myPrimaryColor"
                                [routerLink]="'/guides'" [routerLinkActive]="'text-myPrimaryColor'"><i
                                        class="fa-solid fa-user-tie text-xl p-1"></i>Guides</span>
                        <span class="cursor-pointer m-1 mx-3 font-semibold hover:text-myPrimaryColor"
                                [routerLink]="'/destinations'" [routerLinkActive]="'text-myPrimaryColor'"><i
                                        class="fa-solid fa-location-dot text-xl p-1"></i>Destinations</span>
                        <span class="cursor-pointer m-1 mx-3 font-semibold hover:text-myPrimaryColor"
                                [routerLink]="'/trips'" [routerLinkActive]="'text-myPrimaryColor'"><i
                                        class="fa-solid fa-person-hiking text-xl p-1"></i>Trips</span>
                        <!-- <span class="cursor-pointer m-1 mx-3 font-semibold">About</span> -->
                        <span class="cursor-pointer m-1 mx-3 font-semibold hover:text-myPrimaryColor"
                                [routerLink]="'/help'" [routerLinkActive]="'text-myPrimaryColor'"><i
                                        class="fa-solid fa-circle-info text-xl p-1"></i>Help</span>
                </span>
                <span class="bg-myPrimaryColor cursor-pointer  
                        font-semibold 
                        rounded-full  text-black border-myPrimaryColor
                        border-2   border-opacity-0  
                        hover:border-opacity-100 hover:text-myPrimaryColor
                        hover:bg-white animate-pulse text-lg
                        m-2 mx-3 py-1.5 px-4 " [routerLink]="'/account'">
                        Sign up
                </span>

                <img class="inline-block h-10 w-10 m-auto rounded-full ring-2 ring-myPrimaryColor cursor-pointer"
                        src="https://cdn-icons-png.flaticon.com/512/147/147144.png" alt="" />

                <span class="cursor-pointer m-auto mx-2 font-semibold hover:text-myPrimaryColor">Fateh</span>

        </header>
        <div class="pt-8 bg-gray-100">
                <router-outlet></router-outlet>

        </div>
</div>