<form class="flex flex-col gap-1 px-20"> 
  <input
    matInput
    type="text"
    autocomplete="off"
    placeholder="Trip Title ..."
    class="border rounded-md p-1 border-slate-800"
  />
  <input
    matInput
    type="number"
    autocomplete="off"
    placeholder="Trip Title ..."
    class="border rounded-md p-1 border-slate-800"
  />
  <input
    matInput
    type="number"
    autocomplete="off"
    placeholder="Trip Title ..."
    class="border rounded-md p-1 border-slate-800"
  /> 
  <mat-form-field appearance="outline">
    <mat-label>Description</mat-label>
    <textarea
      placeholder="Trip Description ..."
      rows="3"
    ></textarea>
  </mat-form-field>
</form>
<mat-spinner
  mode="indeterminate"
  class="m-auto relative"
  [strokeWidth]="3"
  [diameter]="96"
></mat-spinner>
