<div class="flex flex-row h-0 px-2 z-40 relative">
  <span class="h-8">
    <i class="fa-regular fa-heart text-xl text-white my-auto" (click)="$event.preventDefault()"></i
  ></span>
  <span class="flex-1"></span>
  <!-- <span class="px-2 py-1 h-8 bg-myPrimaryColor m-1 z-51 text-white font-bold rounded-xl">Easy</span> -->
</div>
<div class="h-36 w-full overflow-hidden bg-slate-200"></div>
<mat-progress-bar mode="indeterminate" class="h-4"></mat-progress-bar>
<div class="flex flex-row h-0 px-2 relative -top-5">
  <!-- <span class="h-8">        <i class="fa-regular fa-heart text-xl text-white my-auto"></i></span> -->
  <span class="flex-1"></span>
  <!-- <span
    class="px-4 py-1 h-8 bg-myPrimaryColor/80 backdrop-blur-lg m-1 text-white font-bold rounded-lg shadow"
    ></span
  > -->

  <mat-chip-list aria-label="Fish selection">
    <mat-chip class="bg-gradient-to-r from-pink-500 to-yellow-500 shadow">
      &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
    </mat-chip>
  </mat-chip-list>
</div>
<div class="px-2 py-3 flex flex-col">
  <span class="font-bold text-xl text-slate-700"> </span>
  <!-- <span>Visit Ziama </span> -->
  <span class="h-4 bg-slate-200 w-20 my-2"> </span>
</div>
<div class="flex flex-row px-2 pb-2 gap-1">
  <span class="flex flex-row">
    <i class="fa-solid fa-location-dot text-myPrimaryColor"></i>
  </span>
  <span class="h-4 bg-slate-200 w-20"> </span>
</div>

<div class="flex flex-row px-2 gap-1">
  <span class="h-4 bg-slate-200 w-30"> </span>
</div>
<div class="text-md font-bold px-2 py-2 object-bottom h-4 bg-slate-200 w-40 m-2"></div>
